html {
    font-family: "Futura Std";
    font-weight: 300;
}

text {
    font-size: 10px;
}

.axis line, path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bars rect {
    fill: #67758E;
}

.notArrested {
    fill: #2A333E;
}
.arrested {
    fill: rgba(243, 0, 0, 0.6);
}

.blocks text {
    font-size: 12px;
}


.sankey text {
    font-size: 12px;
    font: 400;
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}



.arc text {
    font-size: 14px;
  text-anchor: middle;
}

.arc path {
  stroke: rgba(255, 255, 255, 0.16);
}
