html {
    font-family: "Futura Std", "Futura", "Avenir Next", "Avenir", "Helvetica Neue", "Helvetica";
    font-weight: 300;
}

text {
    font-size: 10px;
}

.axis line, path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bars rect {
    fill: #67758E;
}

.notArrested {
    fill: #2A333E;
}
.arrested {
    fill: rgba(243, 0, 0, 0.6);
}

.blocks text {
    font-size: 12px;
}


.sankey text {
    font-size: 12px;
    font: 400;
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}



.arc text {
    font-size: 12px;
    text-anchor: middle;
}

.arc path {
  stroke: rgba(255, 255, 255, 0.16);
}


svg {
    border-bottom: 1px solid #DEDEDE;
    padding-bottom: 50px;
    padding-top: 60px;

    margin: 0 auto;
    display: block;
}

.pie text.title {
    text-anchor: end;
}



h1 {
    text-align: center;
    margin-top: 46px;
    margin-bottom: 0;
    color: #2F2F2F;
}

.loading {
    text-align: center;
    margin-top: 36px;
    margin-bottom: 30px;
    color: #2F2F2F;
    font-size: 14px;
    font-weight: 300;
}

html {
    background: #F3F3F3;
}

text.title {
    font-size: 11px;
}

.insideOutside .arrested {
    fill: rgba(183, 45, 45, 0.95);
}

.insideOutside .notArrested {
    fill: rgba(36, 34, 51, 0.6);
}
