.axis text {
    font: 10px sans-serif;
}

.axis line, path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bars rect {
    fill: red;
}

.notArrested {
    fill: green;
}
.arrested {
    fill: red;
}
